@import url("https://fonts.googleapis.com/css2?family=Monsterrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #5670a0, #243b55);
  font-family: "Monsterrat", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 500px;
  text-align: center;

  & strong {
    line-height: 20px;
  }
}

.rating-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 1.5rem;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.rating img {
  width: 50px;
}

.rating small {
  color: #333;
  display: inline-block;
  margin-top: 10px;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3c3a39;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 2rem;
  margin-bottom: 10px;
}
