@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #1960b1;
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  padding: 1rem 1rem 0;
  background-color: rgb(58, 61, 61);
  text-align: center;
  border-radius: 1rem;
}

.text-container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 1rem;
  margin: 0 0 1.25rem;
  font-size: 1rem;
  border-radius: 1rem;
  resize: none;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin: 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.tag.highlight {
  background-color: #1960b1;
}

#choice {
  display: block;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
