body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 79%, 0.863);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  border: 4px solid;
  border-radius: 40px;
  background-color: white;
}

#time {
  font-size: 5rem;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

#watch-buttons button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
}

#start-button {
  background-color: hsl(115, 85%, 35%);
}

#start-button:hover {
  background-color: hsl(115, 85%, 25%);
}

#stop-button {
  background-color: hsl(2, 95%, 55%);
}

#stop-button:hover {
  background-color: hsl(2, 95%, 40%);
}

#reset-button {
  background-color: hsl(241, 95%, 60%);
}

#reset-button:hover {
  background-color: hsl(241, 95%, 40%);
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled {
  display: none;
}
