@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s;
}

.carousel {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(31, 163, 64);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  font-size: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: rgb(8, 116, 35);
}

.btn:focus {
  outline: none;
}
